<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div th:object="${tax}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title text-center">Datos del impuesto</h4>
				<form th:object="${tax}" th:action="@{/impuestos/guardar}"
					method="post">
					<!--  Inicio datos Impuesto-->
					<div id="datosImpuesto">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{name}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Porcentaje</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{value}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></small>
							</div>
						</div>

					</div>
					<!--  Fin datos Impuesto-->
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${buttonText}"
								class="btn btn-primary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>