<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>

			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/impuestos/alta}">Crear
						impuesto</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<!--  <th>id</th> -->
							
							<th>Nombre</th>
							<th>Porcentaje</th>
							
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="impuesto: ${taxes}">
							<!-- 							<td><a th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td> -->
							
							<td th:text="${impuesto.name}"></td>
							<td th:text="${impuesto.value}"></td>
							
							
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/impuestos/editar/} + ${impuesto.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${impuesto.id}" th:text="'eliminar'"
								onclick="return confirm('estas seguro que quieres eliminar?')"></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>



	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>