<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text=" ${titulo}"></title>
<!-- <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" -->
<!-- 	rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">


</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Control Stock </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Inicio
							<span class="sr-only">(current)</span>
					</a></li>
					<!-- Proveedores -->
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Proveedores </a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/proveedor/alta}">Alta de
								proveedores</a> <a class="dropdown-item"
								th:href="@{/proveedor/listar}">Listado de proveedores</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div></li>
					<!-- Impuestos -->
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" ><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Impuestos</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/impuestos/alta}">Agregar
								impuesto</a> <a class="dropdown-item" th:href="@{/impuestos/listar}">Listado
								de impuestos</a> <a class="dropdown-item" href="#">Something
								else here</a>
						</div></li>
					<!-- Categorias -->
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" ><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Categorias</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/categorias/alta}">Agregar
								categoria</a> <a class="dropdown-item"
								th:href="@{/categorias/listar}">Listado de categorias</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div></li>
					<!-- Productos -->
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" ><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Productos</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/productos/alta}">Agregar
								producto</a> <a class="dropdown-item" th:href="@{/productos/listar}">Listado
								de productos</a> <a class="dropdown-item"
								th:href="@{/productos/buscar}">Buscar productos</a>
						</div></li>
					<!-- Boletas -->
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" ><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Factura</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Listado?</a> <a
								class="dropdown-item" th:href="@{/categorias/listar}">Listado
								de categorias</a> <a class="dropdown-item" href="#">Something
								else here</a>
						</div></li>
					<!-- Usuarios -->

					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" ><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Usuarios</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/usuario/alta}">Crear
								Usuario</a> <a class="dropdown-item" th:href="@{/categorias/listar}">Listado
								de categorias</a> <a class="dropdown-item" href="#">Something
								else here</a>
						</div></li>

					<!-- VEntas -->

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Punto de venta</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/ventas/venta}">Ventas
								</a> 
						</div></li>
				</ul>

			</div>
			<ul class="navbar-nav navbar-right">
				<li sec:authorize="!isAuthenticated()"><a
					class="btn btn-outline-primary" th:href="@{/login}">Sign in</a></li>
				<li sec:authorize="isAuthenticated()" class="dropdown"><a
					class="btn btn-primary dropdown-toggle" href="#" role="button"
					id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> <span sec:authentication="name"></span>
				</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="dropdown-item" type="submit"
								onclick="document.getElementById('logoutForm').submit();">Sign
								out</button>
						</form>
					</div></li>
			</ul>
		</nav>
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>
	<!-- footer -->
	<footer th:fragment="footer" class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2019</span>
			</div>
			<div>
				<p sec:authorize="isAuthenticated()">
					Usuario loggeado: <span sec:authentication="name"></span>
					
				</p>
			</div>
		</div>

<!-- <div>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div> -->
Iconos diseñados por <a href="https://www.flaticon.es/autores/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
	<!-- /footer -->
</body>
</html>