<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'Titulo' + ${titulo}"></title>
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">


</head>
<body>
	<!-- header -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Spring boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/form}">Crear
							cliente</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{listar}">Clientes</a>
					</li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
				</ul>
			</div>
		</nav>


		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>
	<!-- /header -->
	<div class="container"></div>

	<!-- footer -->
	<footer th:fragment="footer" class="container">
		<p>CopyRight aca</p>


		<!-- Bootstrap core JavaScript-->
		<script th:src="@{vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

		<!-- Core plugin JavaScript-->
		<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

		<!-- Custom scripts for all pages-->
		<script th:src="@{js/sb-admin-2.min.js}"></script>

		<!-- Page level plugins -->
		<script th:src="@{vendor/chart.js/Chart.min.js}"></script>

		<!-- Page level custom scripts -->
		<script th:src="@{js/demo/chart-area-demo.js}"></script>
		<script th:src="@{js/demo/chart-pie-demo.js}"></script>
	</footer>
	<!-- /footer -->

</body>
</html>