<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div th:object="${presenter}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title text-center">Selección de fechas:</h4>
				<form th:object="${presenter}" th:action="@{/reportes/generar-entre-fechas}">
					<div class="form-group row">
						<div class="col-sm-6">
							<label for="txtBeginDate">Desde :</label>
							<input id="txtBeginDate" type="date" th:field="*{{beginDate}}"
								placeholder="Fecha comienzo"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="fe form-text text-danger"
								th:if="${#fields.hasErrors('beginDate')}" th:errors="*{beginDate}"></small>
						</div>
						<div class="col-sm-6">
							<label for="txtEndDate">Hasta :</label>
							<input id="txtEndDate" type="date" th:field="*{{endDate}}"
								placeholder="Fecha final"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="fe form-text text-danger"
								th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Generar reporte" class="btn btn-primary"/>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>