<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div th:object="${product}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title text-center">Datos del producto</h4>
				<form th:object="${product}" th:action="@{/productos/guardar-cambios}"
					method="post">
					<!--  Inicio datos producto-->
					<div id="datosProducto">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{name}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Marca</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{trademark}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('trademark')}"
									th:errors="*{trademark}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Codigo de barras</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{barCode}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('barCode')}" th:errors="*{barCode}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Descripción</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{description}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('description')}"
									th:errors="*{description}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Markup</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{markup}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('markup')}"
									th:errors="*{markup}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Costo</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{cost}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('cost')}"
									th:errors="*{cost}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Precio de venta</label>
							<div class="col-sm-6">
								<input type="text" readonly="readonly" th:value="${#numbers.formatDecimal(product.calculateSalePrice(),1,2)}"
									class="form-control"
									 /> 
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Activo</label>
							<div class="col-sm-6">
								<input type="checkbox" th:field="*{active}"
									class="form-control"
									 /> 
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Categoría</label>
							<div class="col-sm-6">
								<!-- 								<select id="category" th:field="*{category}"  -->
								<!-- 									 class="form-control"> -->
								<!-- 									<option th:each="cat : ${categories}" th:value="${cat.id}" -->
								<!-- 										th:text="${cat.categoryName}">Categorías</option> -->
								<!-- 								</select> -->
								<input type="text" th:field="*{category.categoryName}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('category.categoryName')}"
									th:errors="*{category.categoryName}"></small>
							</div>
						</div>

					</div>
					<!--  Fin datos producto-->
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Ingresar producto"
								class="btn btn-primary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>