<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>

			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/productos/alta}">Crear
						Producto</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>

							<th>Marca</th>
							<th>Nombre</th>
							<th>Stock</th>
							<th>Precio Venta</th>
							<th>Estado</th>
							<th>Editar</th>
							<th>Cambio categoría</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto: ${products}">

							<td th:text="${producto.trademark}"></td>
							<td th:text="${producto.name}"></td>
							<td th:text="${producto.stock}"></td>
							<td
								th:text="${#numbers.formatDecimal(producto.calculateSalePrice(),1,2)}"></td>
							<td th:text="${producto.active ? 'Activo' : 'Inactivo'}"></td>

							<td><a class="btn btn-primary btn-xs"
								th:href="@{/productos/editar/} + ${producto.id}"
								th:text="'editar'"></a></td>

							<td><a class="btn btn-primary btn-xs"
								th:href="@{/productos/cambiar-categoria/} + ${producto.id}"
								th:text="'cambiar categoría'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/productos/eliminar/} + ${producto.id}"
								th:text="'eliminar'"
								onclick="return confirm('estas seguro que quieres eliminar?')"></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>



	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>