<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>

			<div class="card-body">
				<div class="card-title">
					<button id="btnLimpiar" class="btn btn-primary btn-xs">Limpiar
						lista</button>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="buscar_producto"></label>
					<div class="col-sm-6">
						<input type="text" id="buscar_producto" name="buscar_producto"
							class="form-control" list="lista" placeholder="Buscar producto" />
						<datalist id="lista">
						</datalist>
					</div>
				</div>
				<div class="form-group row">
					<table class="table table-striped table-bordered">
						<thead class="thead-inverse">
							<tr>

								<th>Marca</th>
								<th>Nombre</th>
								<th>Stock</th>
								<th>Editar</th>
								<th>Cambio categoría</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody id="cargarItemProductos">
							<!-- 							<tr th:replace="product/product-template :: itemsProducto"></tr> -->
						</tbody>
					</table>

				</div>

			</div>
		</div>



	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script th:src="@{/js/myjs/productsearchfunctions.js}"></script>
</body>
</html>