<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="contaier-fluid">


		<div class="container py-4">
			<div class="row">
				<div class="col-lg-6">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Proveedores</h3>
						</div>
						<div class="card-body">
							<h4 class="card-title">
								<a th:href="@{/proveedor/alta}" class="btn btn-secondary btn-icon-split btn-lg"> <span
									class="icon text-white-50"> <i class="fas fa-shipping-fast"></i>
								</span> <span class="text">Alta Proveedores</span>
								</a>
							</h4>
							<h4 class="card-title">
								<a href="#" class="btn btn-secondary btn-icon-split btn-lg"> <span
									class="icon text-white-50"> <i class="fas fa-clipboard-list"></i>
								</span> <span class="text">Listado Proveedores</span>
								</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card shadow mb-4">
						<div class="card-header">
							<p>Proveedores</p>
						</div>
						<div class="card-body">
							<h4 class="card-title"><a th:href="@{/productos/alta}" class="btn btn-secondary btn-icon-split btn-lg"> <span
									class="icon text-white-50"> <i class="fas fa-shipping-fast"></i>
								</span> <span class="text">Alta Productos</span>
								</a></h4>
							<h4 class="card-title">Listado productos</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="card shadow mb-4">
						<div class="card-header">
							<p>Impuestos</p>
						</div>
						<div class="card-body">
							<h4 class="card-title"><a th:href="@{/impuestos/alta}" class="btn btn-secondary btn-icon-split btn-lg"> <span
									class="icon text-white-50"> <i class="fas fa-shipping-fast"></i>
								</span> <span class="text">Alta Ipuestos</span>
								</a></h4>
							<h4 class="card-title">Listado productos</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card shadow mb-4">
						<div class="card-header">
							<p>Categorias</p>
						</div>
						<div class="card-body">
							<h4 class="card-title"><a th:href="@{/categorias/alta}" class="btn btn-secondary btn-icon-split btn-lg"> <span
									class="icon text-white-50"> <i class="fas fa-shipping-fast"></i>
								</span> <span class="text">Alta Categorias</span>
								</a></h4>
							<h4 class="card-title">Listado productos</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>


</body>
</html>