<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	<div class="container">
		<h1 class="h3 mb-4 text-gray-800">Menu administrador</h1>

		<div class="row">

			<div class="col-lg-6 py-4">
			<div class="card-bg-ligth">
			 <div class="card-header">
			 	<h3>Proveedores</h3>
			 </div>
			 <div class="card-body">
			 	<h4 >
			 	<a class="btn btn-primary btn-icon-split btn-lg"
							th:href="@{'/provider/form/'}"><span class="icon text-white-50">
							<i class="fas fa-user-plus"></i>
							</span></a> Agregar proveedor</h4>
			 </div>
			</div>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>