<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<div th:object="${user}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/usuario/guardar}" th:object="${user}"
			method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre Usuario</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{username}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{password}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Rol</label>
				<div class="col-sm-6">
					<select id="roles" th:field="*{roles}" size="10"
						multiple="multiple" class="form-control">
						<option th:each="role : ${roles}" th:value="${role.id}"
							th:text="${role.authority}">Impuestos</option>
					</select>
				</div>
			</div>
			

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear usuario"
						class="btn btn-primary" />
				</div>
			</div>
			<!--  <input type="hidden" th:field="*{id}" /> -->
		</form>
	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>


</body>
</html>