<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="contaier-fluid">


		<div class="container py-4">
			<section class="row">
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Abrir caja</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/caja/abrir}" class="btn btn-primary btn-xs">
								Abrir caja
							 </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Cerrar caja</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/caja/cerrar}" class="btn btn-secondary">
								Cerrar caja
							 </a>
						</div>
					</div>
				</div>
				
			</section>
			
		</div>

	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>


</body>
</html>