<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>

			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/usuarios/alta}">Crear
						categoria</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<!--  <th>id</th> -->
							
							<th>Sub-total loterias</th>
							<th>Sub - total s/loterias</th>
							<th>Sub - total recargas</th>
							<th>Total</th>
							
						</tr>
					</thead>
					<tbody>
						<tr >
							<!-- 							<td><a th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td> -->
							
							<td th:text="${reporte.loterySales}"></td>
							<td th:text="${reporte.commonSales}"></td>
							<td th:text="${reporte.rechargeSales}"></td>
							
							
							<td th:text="${reporte.totalSales()}"></td>
							
						</tr>
					</tbody>
				</table>

			</div>
		</div>



	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>