<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<div th:object="${provider}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/proveedor/guardar}" th:object="${provider}"
			method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{name}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Rut</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{rut}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('rut')}"
						th:errors="*{rut}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Razon Social</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{registeredName}"
						class="form-control" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('registeredName')}"
						th:errors="*{registeredName}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Dirección</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{address}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear proveedor" class="btn btn-primary" />
				</div>
			</div>
			<!--  <input type="hidden" th:field="*{id}" /> -->
		</form>
	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>


</body>
</html>