<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div th:object="${sale}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<div th:if="${cashRegister} == null">
			<div class="alert alert-danger">
				<h3>No hay ninguna caja abierta!!! debe abrir caja para poder
					facturar!</h3>
			</div>
		</div>
		<div th:if="${cashRegister}">
			<div class="alert alert-info">
				<h3>
					Cajera/o : <span sec:authentication="name"></span> Fecha : <span
						th:text="${#dates.format(#dates.createToday(), 'dd/MMM/yyyy')}"></span>
				</h3>
			</div>
		</div>
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title text-center">Datos del producto</h4>
				<form th:object="${sale}" th:action="@{/ventas/guardar}"
					method="post" id="formulario">

					<!-- Buscar producto por nombre -->
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="buscar_producto"></label>
						<div class="col-sm-6">
							<input type="text" id="txtbuscar_producto" name="txtbuscar_producto"
								class="form-control" list="lista" placeholder="Buscar producto por nombre" />
							<datalist id="lista">
							</datalist>
						</div>
						<div class="col-sm-4">
							<input type="button" id="btnBuscarNombre" value="Buscar nombre" class="btn btn-secondary btn-xs"/>
						</div>
					</div>
					<!-- Fin buscar producto por nombre -->
					<!-- Buscar producto por codigo -->
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="buscar_producto-codigo"></label>
						<div class="col-sm-6">
							<input type="text" id="txtbuscar_producto_codigo" name="txtbuscar_producto_codigo"
								class="form-control" list="lista-codigo" placeholder="Buscar por codigo" />
							<datalist id="lista-codigo">
							</datalist>
						</div>
						<div class="col-sm-4">
							<input type="button" id="btnBuscarCodigo" value="Buscar codigo" class="btn btn-secondary btn-xs"/>
						</div>
					</div>
					<!-- Fin buscar producto por codigo -->
					<!-- Buscar producto por marca -->
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="buscar_producto-codigo"></label>
						<div class="col-sm-6">
							<input type="text" id="txtbuscar_producto_marca" name="txtbuscar_producto_marca"
								class="form-control" list="lista-marca" placeholder="Buscar por Marca" />
							<datalist id="lista-marca">
							</datalist>
						</div>
						<div class="col-sm-4">
							<input type="button" id="btnBuscarMarca" value="Buscar marca" class="btn btn-secondary btn-xs"/>
						</div>
					</div>
					<!-- Fin buscar producto por marca -->
					<div class="form-group-row">
						<label class="col-sm-2 col-form-label" for="pagacon"></label>
						<div class="col-sm-6 offset-md-2">

							<input type="text" id="pagacon" name="pagacon"
								class="form-control" placeholder="Ingrese el pago del cliente">
						</div>
					</div>
					<div class="form-group-row">
						<label class="col-sm-2 col-form-label" for="paymentMethod"></label>
						<div class="col-sm-6 offset-md-2">

							<select name="paymentMethod" class="form-control">
								<option th:each = "payOpt : ${T(com.controlstock.models.Sale.PaymentMethod).values()}"
								th:value = "${payOpt}" th:text = "${payOpt}" th:field = "*{paymentMethod}"></option>
							</select>
						</div>
					</div>
					<div class="form-group-row">
						<div class="col-sm-6 offset-md-2 my-5">
							<h5>
								Vuelto : <span class="badge badge-secondary" id="vuelto"></span>
							</h5>
						</div>
					</div>


					<table class="table table-sm table-stripped table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Total</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody id="cargarItemProductos">
						</tbody>
					</table>
					<h5>
						Total: <span class="badge badge-secondary" id="gran_total">0</span>
					</h5>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="Facturar"
								class="btn btn-secondary" />
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
	<script th:src="@{/js/myjs/pos.js}"></script>
</body>
</html>