<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div th:object="${category}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title text-center">Datos de la categoria</h4>
				<form th:object="${category}" th:action="@{/categorias/guardar}"
					method="post">
					<!--  Inicio datos CAtegoria-->
					<div id="datosProducto">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{categoryName}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('categoryName')}"
									th:errors="*{categoryName}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Impuestos actuales</label>
							<div class="col-sm-6">
								<select id="taxes" size="5"
									multiple="multiple" class="form-control">
									<option th:each="tax : *{taxes}" th:value="${tax.id}"
										th:text="${tax.name}">Impuestos Actuales:</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Impuesto a agregar</label>
							<div class="col-sm-6">
								<select id="taxes" th:field="*{taxes}" size="10"
									multiple="multiple" class="form-control">
									<option th:each="tax : ${impuestos}" th:value="${tax.id}"
										th:text="${tax.name}">Impuestos</option>
								</select>
							</div>
						</div>
					</div>
					<!--  Fin datos CAtegoria-->
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Guardar cambios"
								class="btn btn-primary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>