<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>

			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/categorias/alta}">Crear
						categoria</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<!--  <th>id</th> -->
							
							<th>Nombre</th>
							<th>Impuestos</th>
							
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="categoria: ${categories}">
							<!-- 							<td><a th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td> -->
							
							<td th:text="${categoria.categoryName}"></td>
							<td>
								<ul>
									<li th:each="tax : ${categoria.taxes}">
										<span th:text="'Impuesto: ' + ${tax.name}"></span>
										<span th:text="'Valor: ' + ${tax.value} + '%'"></span>
									</li>
								</ul>
							</td>
							
							
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/categorias/editar/} + ${categoria.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${categoria.id}" th:text="'eliminar'"
								onclick="return confirm('estas seguro que quieres eliminar?')"></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>



	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
</body>
</html>