<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="contaier-fluid">


		<div class="container py-4">
			<section class="row">
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Impuestos</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/impuestos/listar}">
								<img alt="logo-impuestod" src="/images/png/032-money-2.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Proveedores</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/proveedor/listar}">
								<img alt="logo-impuestod" src="/images/png/096-delivery-truck.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Categorias</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/categorias/listar}">
								<img alt="logo-impuestod" src="/images/png/090-contract.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
			</section>
			<!-- Fin primera fila -->
			<section class="row">
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Productos</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/productos/listar}">
								<img alt="logo-impuestod" src="/images/png/018-coffee-cup.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Facturas</h3>
						</div>
						<div class="card-body">
							<a href="#">
								<img alt="logo-impuestod" src="/images/png/068-invoice.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Usuarios</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/usuario/listar}">
								<img alt="logo-impuestod" src="/images/png/075-telemarketer.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
			</section>
			<!-- Fin segunda fila -->
			<section class="row">
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Caja</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/caja/opciones}">
								<img alt="logo-impuestod" src="/images/png/099-wallet.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Reportes</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/reportes/reportes}">
								<img alt="logo-impuestod" src="/images/png/025-analytics.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header">
							<h3 class="text-center">Punto de venta</h3>
						</div>
						<div class="card-body">
							<a th:href="@{/ventas/venta}">
								<img alt="logo-impuestod" src="/images/png/084-point-of-service.png" class="img-fluid">
							 </a>
						</div>
					</div>
				</div>
				
			</section>
		</div>

	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>


</body>
</html>