<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/admin-layout :: head">


</head>
<body>
	<header th:replace="layout/admin-layout :: header"></header>
	<div class="container py-4">
		<div th:object="${invoice}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" id="verFactura"
				href="#">Factura - agregar producto</a></li>
			<li class="nav-item"><a class="nav-link" id="verProductos"
				href="#">Productos agregados</a></li>

		</ul>
		<div class="card bg-light">
			<div class="card-header text-center" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title text-center"
					th:text="'Proveedor:  ' + ${invoice.provider.name}"></h4>
				<form th:object="${invoice}" id="formulario" method="post" th:action="@{/facturas/guardar}">
					<!--  Inicio datos boleta-->
					<div id="datosBoleta">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Serie</label>
							<div class="col-sm-6">
								<input id="txtSeries" type="text" th:field="*{series}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('series')}" th:errors="*{series}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Numero</label>
							<div class="col-sm-6">
								<input id="txtNumber" type="text" th:field="*{number}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Fecha</label>
							<div class="col-sm-6">
								<input id="txtDate" type="date" th:field="*{{date}}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="fe form-text text-danger"
									th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></small>
							</div>
						</div>
						<hr>
						<div class="form-group row justify-content-center">
							<label id="lblInfo"></label>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="buscar_producto"></label>
							<div class="col-sm-6">
								<input type="text" id="buscar_producto" name="buscar_producto"
									class="form-control" list="lista" placeholder="Buscar producto" />
								<datalist id="lista">
								</datalist>
							</div>
						</div>
						<!-- descripcion producto actual -->
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" name="nomProduct" id="nomProduct"
									class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Marca</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="marcaProduct"
									id="marcaProduct" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Cantidad</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="cantidadProduct"
									id="cantidadProduct" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Costo</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="costoProduct"
									id="costoProduct" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Impuestos</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="impProduct"
									id="impProduct" />
							</div>
						</div>
						<input type="hidden" id="selItem" />
						<!-- 						Fin descripcion producto -->
						<!-- 						actual -->
						<div class="form-group row">

							<label class="col-sm-2 col-form-label"></label>
							<div class="col-sm-6">
								<a href="#" id="btnAddProd" class="btn btn-secondary btn-sm">Agregar
									producto</a>
							</div>

						</div>

					</div>
					<!--  Fin datos boleta-->

					<!-- Lineas de la boleta -->
					<div id="detalleBoleta">
						<table th:replace="invoices/items-template :: itemsFactura"></table>
						<table id="cargarItemProductos"
							class="table table-sm table-stripped table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Marca</th>
									<th>Cantidad</th>
									<th>Costo</th>
									<th>Impuestos</th>
									<th>Total</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<h5>
							Total: <span class="badge badge-secondary" id="gran_total">0</span>
						</h5>
						<div class="form-group row">
							<div class="col-sm-6">
								<input type="submit" th:value="${titulo}"
									class="btn btn-secondary" />
							</div>
						</div>
					</div>
					<!-- Fin lineas boleta -->
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/admin-layout :: footer"></footer>
	<!-- 	<script th:replace="invoices/js/create-invoice :: javascript"></script> -->
	<!-- 	<script th:src="@{/js/myjs/invoice.js}"></script> -->
	<script th:src="@{/js/myjs/invoice-jquery.js}"></script>
</html>